# C++ & CMake Build Artifacts
build/
bin/
lib/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out
*.app
compile_commands.json

# Data & Simulation Outputs
# Fichiers volumineux générés
*.csv
*.dat
*.log
*.vtk
*.vtu
*.vtp
*.pvsm

# Python (Scripts)
__pycache__/
*.pyc
.Python
env/
venv/
.ipynb_checkpoints/

# IDE & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# LaTeX
docs/*.aux
docs/*.log
docs/*.toc
docs/*.out
docs/*.synctex.gz
